@model AdminVM

<div class="content-wrapper">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Category Table</h4>
                <a class="btn btn-primary" asp-controller="Category" asp-action="Create">Create</a>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    No:
                                </th>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Parent Category Id
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var count = 0;
                            }

                            @foreach (var item in Model.categories)
                            {
                                count++;
                                <tr class="table-info">
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.ParentCategoryId
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        <a class="btn btn-warning" asp-controller="Category" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>